<title>ADMIN PAGE</title>
<div class="body">
    <header>
        <h1>ADMIN PAGE</h1>
    </header>
    <app-nav></app-nav>
    <div class="main">
        <div class="options">
            <input type="text" placeholder=" DB host" [(ngModel)]="host" title="host"/>
            <input pattern="^[0-9]+$" placeholder=" port" [(ngModel)]="port" title="port"/>
            <input type="text" placeholder=" database" [(ngModel)]="database" title="database"/>
            <input type="text" placeholder=" username" [(ngModel)]="user" title="username"/>
            <input type="text" placeholder=" password" [(ngModel)]="password" title="password" />
            <div class="departmentsList" (click)="getCountersList()" > <div *ngIf="departmetsList.length === 0">departments</div>
            <table>
                <tr *ngFor= "let point of departmetsList" >
                    <td>
                        <input type="checkbox" [value]="point" />
                    </td>
                    <td>
                        <label> {{point}}</label>
                    </td>
                </tr>
            </table>
            </div>    
        </div>
        <button id="addUser" [disabled]="addUserButton">ADD USER</button>
        <button id="delUser" [disabled]="delUserButton">DEL USER</button>
    </div>
    <div class="messager"></div>
    <footer>
        <p>suported by roman.peredrii +380979170088</p>
    </footer>
</div>
