
<div class="wrap">
    <app-nav *ngIf="false"></app-nav>
    <div class="main">
        <div class="startform">
            <h1>START FORM</h1>
            <form class="form-inline">
            <input type="text" placeholder="Login" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}"/>
            <input type="password" placeholder="Password" [(ngModel)]="pswd"[ngModelOptions]="{standalone: true}"/>
            <button (click)= "submit()" type="submit">Submit</button>
            <p>various crap such as legal information or other rubbish which you have to 
                <input type="checkbox" [(ngModel)]="st.acceptTerms" [ngModelOptions]="{standalone: true}"/>
                <label for="accept">accept</label>
            </p>
            </form>
        </div>
    </div>
    <footer>produced by roman.peredrii</footer>
</div>
<app-messager [st]="st.messager"></app-messager>
